.CreatePassword {
    margin: 80px 0 160px;
    max-width: 410px;
}

.PasswordHeader {
    font-weight: bold;
    font-size: 24px;
    color: #4A3A2F;
}

.PasswordSubHeader {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #6D6969;
    margin-top: 9px;
}

.CreatePassword label {
    display: inline-block;
    font-weight: normal;
    font-size: 11px;
    color: #6D6969;
    margin-top: 56px;
}

.PasswordGroup {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
}

.CreatePassword input {
    border: 1px solid #8E8E8E;
    font-size: 18px;
    transition: all .2s;
    width: 100%;
    height: 100%;
    padding: 15px 32px;
    margin-top: 7px;
}

.CreatePassword input::-webkit-input-placeholder {
    display: inline-block;
    transform: translateY(15%);
    font-size: 20px;
}

.CreatePassword input:focus { border: 1.8px solid #4A3A2F; }

.CreatePassword .PasswordGroup .PasswordIcon {
    position: absolute;
    top: 40%;
    right: 30px;
    cursor: pointer; 
    max-width: 12%;
}

@media (max-width: 1100px) {
    .CreatePassword { margin: 80px auto 160px; }
}

@media (max-width: 600px) {
    .CreatePassword .PasswordHeader { font-size: 19px;}
    .CreatePassword .PasswordSubHeader { font-size: 11px;}
}

@media (max-width: 360px) {
    .CreatePassword .PasswordHeader { font-size: 16px;}
}