.ForgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.ForgotPassword .ResetPassword {
    margin-bottom: 120px;
    align-self: center;
    text-align: start;
    color: #4A3A2F;
    max-width: 580px;
}

.ForgotPassword .ResetPasswordHeader {
    font-weight: bold;
    font-size: 36px;
}

.ForgotPassword .ResetPasswordSubHeader {
    font-size: 16px;
    margin: 17px 0 40px;
}

.ForgotPassword label, .ForgotPassword input {
    display: flex;
    flex-direction: column;
}

.ForgotPassword label {
    font-size: 12px;
    margin-bottom: 7px;
    color: #6D6969;
}

.ForgotPassword input {
    border: 1px solid #8E8E8E;
    border-radius: 4px;
    padding: 17px 32px;
    width: 100%;
}

@media(max-width: 1300px){
    .ForgotPassword {margin: 0 100px; }
}

@media(max-width: 1000px){
    .ForgotPassword { margin: 0 48px;}
}

@media(max-width: 600px){
    .ForgotPassword { margin: 0 32px;}

    .ForgotPassword .ResetPassword {padding: 0 40px; }

    .ForgotPassword .ResetPasswordHeader { font-size: 30px; }

    .ForgotPassword .ResetPasswordSubHeader { font-size: 14px; } 
}

@media(max-width: 450px){
    .ForgotPassword { margin: 0 28px;}

    .ForgotPassword .ResetPassword {
        padding: 0 30px;
    }

    .ForgotPassword .ResetPasswordHeader { font-size: 21px; }

    .ForgotPassword .ResetPasswordSubHeader { 
        font-size: 12px;
        margin: 15px 0 35px;
    }

    .ForgotPassword input { padding: 15px 18px; }

    ::-webkit-input-placeholder{
        padding: 14px 5px;
        font-size: 14px;
        opacity: 0.5;
    }
}

@media(max-width: 365px){
    .ForgotPassword { margin: 0 20px;}

    .ForgotPassword .ResetPassword { padding: 0 20px; }

    .ForgotPassword .ResetPasswordHeader { font-size: 20px; }

    .ForgotPassword input { 
        padding: 14px;
        font-size: 13px;
    }
}

@media(max-width: 330px) and (max-height: 570px){
    .ForgotPassword { min-height: 100vh; }

    .ForgotPassword .ResetPassword {
        margin-bottom: 100px;
        margin-top: 70px;
    }
}