.SingleAmenity {
  background-color: white;
  padding: 65px 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2px solid #f1c19d;
  min-width: 268px;
}

.SingleAmenity > img {
  width: 60px;
  height: 60px;
  margin-bottom: 33px;
}

.SingleAmenity > p {
  font-weight: 600;
  font-size: 18px;
  color: #4a3a2f;
}

@media (max-width: 1200px) {
  .SingleAmenity { margin-bottom: 1px;}
}

@media (max-width: 1100px) {
  .SingleAmenity {
    padding: 45px 42px;
    min-width: calc(0.5 * 100%);
  }
}

@media (max-width: 943px) {
  .SingleAmenity { margin-bottom: 0;}
}

@media (max-width: 900px) {
  .SingleAmenity {
    padding: 45px 40px;
    min-width: 248px;
  }
}

@media (max-width: 750px) {
  .SingleAmenity { 
    padding: 40px 40px;
    min-width: calc(0.5 * 100%); 
  }
}