.ForgotPasswordMail {
    composes: ForgotPassword from "../forgot-password/ForgotPassword.module.css";
}
.CheckMail {
    margin-bottom: 150px;
    align-self: center;
    text-align: start;
    color: #4A3A2F;
    max-width: 700px;
}

.CheckMail .CheckMailHeader {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 17px;
}

.CheckMail .CheckMailMessage {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 40px;
}

.CheckMail .CheckMailMessage span { font-weight: bold;}

.CheckMail .GetEmail {
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.CheckMail .GetEmail .ResendEmail{
    font-size: 14px;
    color: #9FA09F;
    font-weight: normal;
}

.CheckMail .GetEmail .ResendEmail:hover{ color: #A95E1A; }

.CheckMail .Support { font-size: 14px; }

.CheckMail .Support span { 
    color: #A95E1A;
    cursor: pointer;
}

.CheckMail .Support span:hover { font-weight: bold; }

@media (max-width: 800px){
    .CheckMail {
        margin-bottom: 150px;
        max-width: 550px;
    }
}

@media (max-width: 600px){
    .ForgotPasswordMail {
        display: block;
        position: relative;
        max-height: 100vh;
    }

    .CheckMail {
        margin-bottom: 200px;
        margin-top: 120px;
        padding: 0 20px;
    }
}

@media (max-width: 450px){
    .CheckMail {
        margin-bottom: 200px;
        margin-top: 120px;
        padding: 0 20px;
    }

    .CheckMail .CheckMailHeader { font-size: 30px; }

    .CheckMail .CheckMailMessage { font-size: 14px; }  
}

@media (max-width: 330px){
    .CheckMail { margin-top: 100px; padding: 0 16px; }

    .CheckMail .CheckMailHeader { font-size: 25px; }

    .CheckMail .CheckMailMessage { font-size: 11px; }  

    .CheckMail .GetEmail { font-size: 14px; }

    .CheckMail .GetEmail .ResendEmail, 
    .CheckMail .Support { font-size: 12px; }
}

@media (max-width: 720px) and (max-height: 540px){  /* Surface Duo device */
    .CheckMail {
        margin-top: 120px;
        padding: 0 20px;
    }
}