 
  .TransparentButton {
    background-color: transparent;
    color: #222020;
    font-size: 16px;
    padding: 12px 30px;
    border: 1px solid #3a2b20;
    margin-top: 17%;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .TransparentButton:hover {
    background-color: #3a2b20;
    color: white;
  }
