.About989 {
  display: flex;
  background-color: #0f1310;
  color: white;
  padding: 143px 130px;
}

.About989 > .Left > img {
  width: 600px;
  height: 431px;
}

.About989 .Right {
  display: flex;
  flex-flow: column;
  padding-left: 103px;
  text-align: left;
}

.About989 .Right .Navigator {
  display: flex;
  margin-bottom: 67px;
}

.About989 .Right .Navigator span {
  border-radius: 59px;
  width: 95px;
  height: 7px;
  margin-right: 20px;
  background-color: #ece6e6;
  cursor: pointer;
  transition: border .3s;
}

.About989 .Right .Navigator span:hover {
  border: 2px solid #989592;
}

.About989 .Right .Title {
  font-size: 24px;
  margin-bottom: 9px;
}

.About989 .Right .Description {
  line-height: 175%;
  color: #CFCFCF;
}

@media only screen and (max-width: 1200px) and (min-width: 901px) {
  .About989 {
    justify-content: center;
    padding-left: unset;
    padding-right: unset;
  }

  .About989 .Right .Navigator {
    margin-bottom: 9px;
  }

  .About989 .Right {
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
  }

  .About989 > .Left > img {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .About989 {
    justify-content: center;
    padding-left: unset;
    padding-right: unset;
    flex-direction: column-reverse;
  }

  .About989 .Right {
    width: 100%;
    align-items: flex-start;
    margin: 0px 15%;
    padding-left: unset;
    /*  padding-right: 50px; */
  }

  .About989 > .Left > img {
    width: 70%;
    margin-top: 100px;
  }

  .About989 .Right .Description {
    width: 80%;
  }
}
