.CreateNewPassword {
    composes: ForgotPassword from "../forgot-password/ForgotPassword.module.css";
    min-height: 100vh;
    position: relative;
}

.CreateNewPassword .RecreatePassword {
    margin-bottom: 120px;
    margin-top: 30px;
    align-self: center;
    text-align: start;
    color: #4A3A2F;
    max-width: 580px;
}

.RecreatePassword .RecreatePasswordHeader {
    font-weight: 600;
    font-size: 36px;
    color: #4A3A2F;
    margin-bottom: 17px;
}

.RecreatePassword .RecreatePasswordSubHeader {
    font-size: 16px;
    margin-bottom: 38px;
}

input[type=password]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    opacity: 0.3;
    vertical-align: middle;
    line-height: 1.5;
    transform: translateY(10%);
  }
  input[type=password]::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    opacity: 0.3;
    vertical-align: middle;
    line-height: 1.5;
    transform: translateY(10%);
  }
  input[type=password]:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    opacity: 0.3;
    vertical-align: middle;
    line-height: 1.5;
    transform: translateY(10%);
  }
  input[type=password]:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    opacity: 0.3;
    vertical-align: middle;
    line-height: 1.5;
    transform: translateY(10%);
  }

.RecreatePassword .RecreatePasswordSubHeader span { font-weight: bold; }

.RecreatePassword .RecreatePasswordForm > div:first-child { margin-bottom: 30px;}


@media (max-width: 1100px) {
    .CreateNewPassword .RecreatePassword { margin: 120px 0; }
}


@media (max-width: 600px) {
    .CreateNewPassword .RecreatePassword { margin: 80px 0; }
    .RecreatePassword .RecreatePasswordHeader { font-size: 30px; }
    .RecreatePassword .RecreatePasswordSubHeader { font-size: 14px; }
}

@media (max-width: 360px) {
    .RecreatePassword .RecreatePasswordHeader { font-size: 28px; }
    .RecreatePassword .RecreatePasswordSubHeader { font-size: 13px; }
}

@media (max-width: 320px) {
    .RecreatePassword .RecreatePasswordHeader { font-size: 24px; }
    .RecreatePassword .RecreatePasswordSubHeader { font-size: 11px; }
}